// Kolory
$primary-color: #6C5B7B;               // fioletowy/mauve
$secondary-color: #FF8C42;             // żywy pomarańczowy
$hover-primary-color: #4A3C59;         // ciemniejszy fiolet
$hover-secondary-color: #D67E2F;       // ciemniejszy pomarańczowy
$active-secondary-color: #BF5B10;      // głęboki pomarańczowy
$text-color: #2E2E2E;                  // ciemny szary
$background-color: #F4F1F1;            // bardzo jasny różowy
$container-bg-color: #FFFFFF;          // czysty biały
$calculator-bg-color: #F1F1F1;         // błękitno-szary
$border-color: #E1E1E1;                // jasny szary
$heading-color: #4F4A4A;               // ciemny szaro-brązowy
$service-heading-color: #F1C40F;       // słoneczny złoty
